// Sidebar Modification

.sidebar {
    text-align: center;
  }
  
  .sidebar-sticky {
    position: absolute;
    height: 100%;
    padding-top: 5%;
  }
  
  .sidebar-nav-item {
    width:100%;
    padding: .25rem 0;
  }
  
  .sidebar-nav-subitem {
    @extend .f4;
    display: inline-block;
    width:100%;
    padding: .25rem 0;
  }
  
  .sidebar-nav-subitem:last-child {
    margin: 0 0 4px 0;
  }
  
  .list-wrapper {
    display: flex;
    width: 18rem;
    text-align: left;
  }
  
  .list-body {
    margin: 0;
    text-align: left;
  }
  
  .sidebar-about {
    > a.sidebar-title {
      &::after {
        width: 9rem;
      }
    }
  }
  
  // Submenu Insertion
  
  .spread-btn{
    width: 100%;
    border: none;
    background: none;
    color: white;
    text-align: right;
    cursor: pointer;
  }
  
  .spread-btn:hover{
    color: #4FB1BA;
  }
  
  input[type=checkbox]{
    display: none;
  }
  
  input[type=checkbox] ~ ul{
    height: 0;
    transition: transform .2s ease-out;
    transform: scaleY(0);
  }
  
  input[type=checkbox]:checked ~ ul{
    height: 100%;
    list-style: none;
    transition: transform .2s ease-out;
    transform: scaleY(1);
    transform-origin: top;
  }
  